body {
    background-color: rgba(97, 97, 97, 1);
}

h1, h2, h5 {
    color: rgba(55, 55, 55, 1);
}

#triangleCanvas {
    background-color: white;
}

.form-control.is-invalid {
    border-width: medium;
}

@media screen and (max-width : 379px) {
    h1 {
        font-size: 30px;
    }
    
    #mainPanel {
        margin-top: 1%;
        background-color: rgba(26, 188, 156, 1);
        text-align: center;
        border-radius: 25px;
        max-width: 80%;
        min-height: 80vh;
    }

    #inputBox {
        max-width: 70%;
        display: block;
        margin: 0 auto;
    }

    #submitBtn {
        margin-bottom: 5%;
    }

    #triangleCanvas {
        margin-bottom: 5%;
    }
}

@media screen and (min-width : 380px) {
    h1 {
        font-size: 50px;
    }

    #mainPanel {
        margin-top: 1%;
        background-color: rgba(26, 188, 156, 1);
        text-align: center;
        border-radius: 25px;
        max-width: 80%;
        min-height: 70vh;
    }

    #inputBox {
        max-width: 70%;
        display: block;
        margin: 0 auto;
    }

    #submitBtn {
        margin-bottom: 5%;
    }

    #triangleCanvas {
        margin-bottom: 5%;
    }
}

@media screen and (min-width: 820px) {
    h1 {
        font-size: 50px;
    }

    #mainPanel {
        margin-top: 1%;
        background-color: rgba(26, 188, 156, 1);
        text-align: center;
        border-radius: 25px;
        max-width: 40%;
        min-height: 70vh;
    }

    #inputBox {
        max-width: 50%;
        display: block;
        margin: 0 auto;
    }

    #submitBtn {
        margin-bottom: 3%;
    }

    #triangleCanvas {
        margin-bottom: 3%;
    }
}

[data-tooltip] {
    display: inline-block;
    position: relative;
}

[data-tooltip]:before {
    content: attr(data-tooltip);
    display: none;
    position: absolute;
    background: rgba(55, 55, 55, 1);
    color: #fff;
    padding: 4px 8px;
    font-size: 14px;
    line-height: 1.4;
    min-width: 40%;
    text-align: center;
    border-radius: 4px;
    left: 50%;
    top: 100%;
    margin-top: 6px;
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

[data-tooltip]:after {
    content: '';
    display: none;
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    left: 50%;
    margin-left: -6px;
    top: 100%;
    border-width: 0 6px 6px;
    border-bottom-color: #000;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    display: block;
    z-index: 50;
}